.selectedVerticleCategory {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .verticleCategoryPaper {
    position: relative;
    height: 100%;
    text-align: center;
  }
  
  .verticleCategorySliderCard {
    width: 30%;
    height: 75px;
    margin: 5px;
  }
  
  .verticleCategoryGridContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    overflow-x: auto;
  }
  
  .verticleCategoryGridContainer_Less_item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    height: 100px;
  }
  
  .verticleCategoryGridContainer .MuiGrid-spacing-xs-1 {
    width: 100% !important;
  }
  
  .sliderCardVerticleCategoryName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width: 700px) {
    .verticleCategoryGridContainer_Less_item::-webkit-scrollbar {
      display: none;
    }
  }
  
  .css-df17o1 {
    height: 600px;
  }